<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mesenger</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="/bootstrap/app.css"/>
    <script>console.log("JS is working")</script>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>